@layout AdminLayout
@page "/admin/resumes/{ResumeId:int}/edu"
@using Microsoft.AspNetCore.Http
@using DevResume.ServiceLayer.Services
@using DevResume.ServiceLayer.Services.Interfaces
@using DevResume.Domain.Entities

@inject IHttpContextAccessor HttpContextAccessor
@inject IEducationService EducationService
@inject IResumeService ResumeService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<AdminResumeMenu ResumeId="@ResumeId" />

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <h1 class="card-title">
                @resume.Key: Educations
            </h1>
            <div class="card-actions">
                <NavLink href="@($"/admin/resumes/{ResumeId}/edu/0")" class="btn btn-primary">
                    Add
                </NavLink>
            </div>
            @if (!educations.Any())
            {
                <div class="card-warning">
                    No education yet
                </div>
            }
            <table class="table table-striped">
                <tbody>
                    @foreach (var education in educations)
                    {
                        <tr>
                            <td>
                                @education.Degree
                            </td>
                            <td>
                                @education.YearFrom - @education.AdaptYearTo
                            </td>
                            <td class="table-actions">
                                <NavLink href="@($"/admin/resumes/{ResumeId}/edu/{education.Id}")" class="btn btn-secondary">
                                    Edit
                                </NavLink>
                                <button @onclick="@(e => DeleteEducation(e, education.Id))" class="btn btn-secondary">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int ResumeId { get; set; }

    private List<Education> educations = new List<Education>();

    private Resume resume = new Resume();

    protected override async Task OnInitializedAsync()
    {
        var userName = HttpContextAccessor.HttpContext.User.Identity.Name;
        if (!await AuthService.AuthorizeResume(userName, ResumeId))
            NavigationManager.NavigateTo("/admin/notfound");

        educations = await EducationService.GetEducations(ResumeId);
        resume = await ResumeService.GetResume(ResumeId);
    }

    private async Task DeleteEducation(MouseEventArgs e, int eduId)
    {
        var userName = HttpContextAccessor.HttpContext.User.Identity.Name;
        if (!await AuthService.AuthorizeEducation(userName, eduId))
            NavigationManager.NavigateTo("/admin/notfound");

        await EducationService.DeleteEducation(eduId);

        educations = educations.Where(x => x.Id != eduId).ToList();
    }

}
